---
const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
const fiveLastPosts = allPosts
    .sort((a: any, b: any) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate))
    .slice(0, 5);
---
<div>
    <ul>
        {fiveLastPosts.map((post: any) => (
                <li>
                    <a href={post.url}>
                        {post.frontmatter.title} - {post.frontmatter.pubDate.toString().slice(0,10)}
                    </a>    
            </li>
        ))}
    </ul>
</div>